In [50]:
import pandas as pd
from functools import reduce
import numpy as np

In [51]:
# Read CSVs exported from ArcGIS as Dataframes
caliBG = pd.read_csv("caliBG.csv")
tripPurpose = pd.read_csv("1089236_Rialto_2019_Trips_odg_traveler_trip_purpose_all.csv", low_memory=False)
tripPercentages = pd.read_csv("tripPercentages.csv")
tripPercentages

,totalTrafficAllDayFrom,totalTrafficPmTo,totalTrafficPmFrom,location
0,0.0036,0.0059,0.0004,Los Angeles County
1,0.0007,0.0012,0.0000,Orange County
2,0.0209,0.0233,0.0155,Riverside County
3,0.8959,0.8982,0.9182,San Bernardino County
4,0.4427,0.4238,0.4639,Rialto
5,0.0463,0.0450,0.0469,Colton
6,0.0000,0.0000,0.0000,Big Bear Lake
7,0.0000,0.0000,0.0000,Apple Valley
8,0.0013,0.0020,0.0007,Montclair
9,0.1170,0.1093,0.1297,San Bernardino
10,0.0274,0.0375,0.0215,Rancho Cucamonga
11,0.0244,0.0315,0.0163,Ontario
12,0.0000,0.0000,0.0000,Adelanto
13,0.0000,0.0000,0.0006,Victorville
14,0.0000,0.0000,0.0000,Twentynine Palms
15,0.0020,0.0032,0.0005,Chino
16,0.0000,0.0000,0.0002,Hesperia
17,0.0000,0.0000,0.0000,Yucca Valley
18,0.0020,0.0034,0.0006,Upland
19,0.0000,0.0000,0.0000,Barstow
20,0.0002,0.0002,0.0000,Chino Hills
21,0.0000,0.0000,0.0002,Yucaipa
22,0.0017,0.0015,0.0022,Grand Terrace
23,0.0030,0.0024,0.0057,Highland
24,0.0025,0.0025,0.0019,Loma Linda
25,0.1412,0.1565,0.1428,Fontana
26,0.0818,0.0768,0.0818,Unincorporated
27,0.0000,0.0000,0.0000,Needles
28,0.0024,0.0026,0.0027,Redlands

In [52]:
# Find and keep necessary labels, create a viable zoneId (Destination Zone ID) column to connect to 
tripPurpose = tripPurpose[['Origin Zone ID', 'Origin Zone Name', 'Origin Zone Source', 'Destination Zone Name', 'Day Type', 'Day Part', 'Home to Work', 'Home to Other', 'Non-Home Based Trip']]
tripPurpose['zoneId'] = tripPurpose['Destination Zone Name'].str.extract('(\d+)').astype(float)

In [53]:
tripPurpose = tripPurpose.merge(caliBG, how= 'left', on= ["zoneId"])

In [54]:
seeValues = tripPurpose['Day Part'].unique()
#seeValues

matches = {"0: All Day (12am-12am)"}
tripPurpose = tripPurpose[tripPurpose['Day Part'].isin(matches)]
tripPurpose = tripPurpose.dropna(subset=['totalTrafficAllDayFrom', 'totalTrafficPmFrom', 'totalTrafficPmTo'], how = 'all')

In [55]:
#Rialto
#Fontana
#San Bernardino
#Unincorporated
#Colton
rialtoTrafficPercentages = {
    'location' : "Rialto",
    'Home to Work %' : tripPurpose.loc[tripPurpose['isRialtoBG'] == True, 'Home to Work'].mean(),
    'Home to Other %' : tripPurpose.loc[tripPurpose['isRialtoBG'] == True, 'Home to Other'].mean(),
    'Non-Home Based Trip' : tripPurpose.loc[tripPurpose['isRialtoBG'] == True, 'Non-Home Based Trip'].mean()
}
rialtoTrafficPercentages = pd.DataFrame(rialtoTrafficPercentages, index = [0])
fontanaTrafficPercentages = {
    'location' : "Fontana",
    'Home to Work %' : tripPurpose.loc[tripPurpose['isFontanaBG'] == True, 'Home to Work'].mean(),
    'Home to Other %' : tripPurpose.loc[tripPurpose['isFontanaBG'] == True, 'Home to Other'].mean(),
    'Non-Home Based Trip' : tripPurpose.loc[tripPurpose['isFontanaBG'] == True, 'Non-Home Based Trip'].mean()   
}
sanBernardinoTrafficPercentages = {
    'location' : "San Bernardino",
    'Home to Work %' : tripPurpose.loc[tripPurpose['isSanBernardinoBG'] == True, 'Home to Work'].mean(),
    'Home to Other %' : tripPurpose.loc[tripPurpose['isSanBernardinoBG'] == True, 'Home to Other'].mean(),
    'Non-Home Based Trip' : tripPurpose.loc[tripPurpose['isSanBernardinoBG'] == True, 'Non-Home Based Trip'].mean()   
}
unincorporatedTrafficPercentages = {
    'location' : "Unincorporated",
    'Home to Work %' : tripPurpose.loc[tripPurpose['isUnincorporatedBG'] == True, 'Home to Work'].mean(),
    'Home to Other %' : tripPurpose.loc[tripPurpose['isUnincorporatedBG'] == True, 'Home to Other'].mean(),
    'Non-Home Based Trip' : tripPurpose.loc[tripPurpose['isUnincorporatedBG'] == True, 'Non-Home Based Trip'].mean()   
}
coltonTrafficPercentages = {
    'location' : "Colton",
    'Home to Work %' : tripPurpose.loc[tripPurpose['isColtonBG'] == True, 'Home to Work'].mean(),
    'Home to Other %' : tripPurpose.loc[tripPurpose['isColtonBG'] == True, 'Home to Other'].mean(),
    'Non-Home Based Trip' : tripPurpose.loc[tripPurpose['isColtonBG'] == True, 'Non-Home Based Trip'].mean()   
}

tripPurposePercentages = rialtoTrafficPercentages.append(fontanaTrafficPercentages, ignore_index = True)
tripPurposePercentages = tripPurposePercentages.append(sanBernardinoTrafficPercentages, ignore_index = True)
tripPurposePercentages = tripPurposePercentages.append(unincorporatedTrafficPercentages, ignore_index = True)
tripPurposePercentages = tripPurposePercentages.append(coltonTrafficPercentages, ignore_index = True)

tripPurposePercentages

         location  Home to Work %  Home to Other %  Non-Home Based Trip
0          Rialto        0.090244         0.570095             0.339661
1         Fontana        0.111304         0.619260             0.269435
2  San Bernardino        0.116110         0.592565             0.291325
3  Unincorporated        0.126627         0.599617             0.273757
4          Colton        0.117379         0.502237             0.380384

In [56]:
tripPurposePercentages = tripPurposePercentages.merge(tripPercentages, how='left', on=["location"])
htw = tripPurposePercentages['Home to Work %'] * tripPurposePercentages['totalTrafficAllDayFrom']
hto = tripPurposePercentages['Home to Other %'] * tripPurposePercentages['totalTrafficAllDayFrom']
nhbt = tripPurposePercentages['Non-Home Based Trip'] * tripPurposePercentages['totalTrafficAllDayFrom']
tripPurposePercentages['Home to Work'] = htw
tripPurposePercentages['Home to Other'] = hto
tripPurposePercentages['Non-Home Based Trip'] = nhbt
tripPurposePercentages  = tripPurposePercentages[['location', 'Home to Work', 'Home to Other', 'Non-Home Based Trip']]
tripPurposePercentages

         location  Home to Work  Home to Other  Non-Home Based Trip
0          Rialto      0.039951       0.252381             0.150368
1         Fontana      0.015716       0.087440             0.038044
2  San Bernardino      0.013585       0.069330             0.034085
3  Unincorporated      0.010358       0.049049             0.022393
4          Colton      0.005435       0.023254             0.017612

In [57]:
tripPurposePercentages.to_csv('tripPurposePercentages.csv', index = False)